{% load static %}

<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Hire me now</title>
  <meta name="description" content="Hire me now website">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="any">
  <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="bg-slate-100">


  <header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <!-- Project logo -->
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Hire me now</span>
          <img class="w-auto" src="{% static 'img/hmnlogo.png' %}" alt="Hire me now">
        </a>
      </div>
      <!-- Navigation -->
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/internships/design/" class="p-2 px-4 rounded-md bg-indigo-50 font-semibold text-gray-800">🍧&nbsp;Дизайн</a>
        <a href="/internships/development/" class="p-2 px-4 font-semibold text-gray-500">🧑‍💻&nbsp;Разработка</a>
        <a href="/internships/management/" class="p-2 px-4 font-semibold text-gray-500">🧑‍💼&nbsp;Менеджмент</a>
      </div>
      <!-- About -->
      <div class="lg:flex lg:flex-1 lg:justify-end">
          <a href="/about/" class="text-gray-600">О проекте</a>
      </div>
    </nav>
  </header>

  <!-- Scheduler Banner -->
  <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
    </div>
    <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
    </div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
      <p class="text-sm leading-6 text-gray-900">
        <strong class="font-bold">Планировщик</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
        В ближайшие 30 дней ожидается открытие 7 стажировок по 2 направлениям.
      </p>
      <a href="#" class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Показать в списке <span aria-hidden="true">&rarr;</span></a>
    </div>
    <div class="flex flex-1 justify-end opacity-0">
      <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
        <span class="sr-only">Dismiss</span>
        <svg class="h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
        </svg>
      </button>
    </div>
  </div>

  <h1 class="text-3xl text-slate-400">
   Internships
  </h1>
  
  {% for internship in internships %}
    <div style="border-bottom: 1px solid;">
      name: {{ internship.name }} <br> #1
      short_description: {{ internship.short_description }} <br>
      start_date: {{ internship.start_date }} <br>
      end_date: {{ internship.end_date }} <br>
      is_permanent: {{ internship.is_permanent }} <br>
      fields of internship:
      <ul>
        {% for field in internship.fields.all %}
            <li>{{ field.name }}</li>
        {% endfor %}
      </ul>
      field.name: {{ internship.fields.name }} <br>
      created_at: {{ internship.created_at }} <br>
      updated_at: {{ internship.updated_at }} <br>
      published_at: {{ internship.published_at }} <br>
      visibility: {{ internship.visibility }} <br>
      {% if request.resolver_match.kwargs.slug %}
        field_slug: {{ field.slug }} <br>
      {% endif %}
    </div>
  {% endfor %}

</body>
</html>