{% load static %}

<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Hire me now</title>
  <meta name="description" content="Hire me now website">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="any">
  <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

  <h1 class="text-2xl font-bold underline">
    Hello world!
  </h1>

</body>
</html>